:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: color-mix(in srgb, seashell 50%, white);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /*variables*/
  --accent-colour: salmon;
  --floating-colour: white;
  --text-colour: #0f0f0f;
  --text-hover-colour: black;
  --border-radius: .5em;
}

html,
body {
  height: 100%;
  margin: 0;
}

.container {
  margin: 0;

  height: 100%;

}

/*split-layout*/

.split-layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  padding: 1em;
  box-sizing: border-box;
}

.split-layout .primary-split {
  flex: 6;
}

.split-layout .secondary-split {
  flex: 1;
  background-color: var(--floating-colour);
  box-shadow: 0 0.5em 1.5em rgba(0, 0, 0, 0.10);
  border-radius: var(--border-radius);
}

/*vertical-layout*/

.vertical-layout {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: .5em
}

/*button*/
button {
  border-radius: var(--border-radius);
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--text-colour);
  background-color: transparent;
  transition: background-color 0.1s
}

button:hover {
  cursor: pointer;
  background-color: var(--accent-colour);
  box-shadow: 0 0.5em 1.5em rgba(0, 0, 0, 0.10);
  color: --text-hover-colour;
}

/* tauri defaults*/
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input,
button {
  outline: none;
}


@media (prefers-color-scheme: dark) {
  :root {
    color: oldlace;
    background-color: #1F1E1C;

    --floating-colour: #362f2f;
    --text-colour: oldlace;
    --text-hover-colour: white;
  }
}